<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" >
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1, target-densitydpi=device-dpi"
    >
    <title>Shared on THEMELOCK.COM - Petrix - Personal Portfolio HTML Template</title>
    <link rel="icon" type="image/png" href="images/favicon.png" >
    <link rel="stylesheet" href="css/plugin.css" >
    <link rel="stylesheet" href="css/icon.css" >
    <link rel="stylesheet" href="css/spacing.css" >
    <link rel="stylesheet" href="css/style.css" >
    <link rel="stylesheet" href="css/responsive.css" >
  </head>

  <body id="body">
    <!--================================
        PRELOADER START
    =================================-->
    <div class="preloader">
      <svg viewBox="0 0 1000 1000" preserveAspectRatio="none">
        <path id="svg" d="M0,1005S175,995,500,995s500,5,500,5V0H0Z"></path>
      </svg>
      <h5 class="preloader-text">Loading</h5>
    </div>
    <!--================================
        PRELOADER END
    =================================-->

    <!--========================
        MENU START
    =========================-->
    <nav class="navbar navbar-expand-lg main_menu">
      <div class="container container_large">
        <a class="navbar-brand" href="index.html">
          <img src="images/logo.png" alt="Petrix" class="img-fluid" >
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fa-sharp fa-sharp fa-regular fa-bars menu_icon_bar"></i>
          <i class="fa-regular fa-xmark close_icon_close"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav m-auto">
            <li class="nav-item">
              <a class="nav-link active text_hover_animaiton" href="/"
                >Home
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text_hover_animaiton" href="/about"
                >About Me</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link text_hover_animaiton" href="/portfolio"
                >Portfolio <i class="far fa-angle-down"></i
              ></a>
              <ul class="droap_menu">
                <li><a href="/portfolio">Portfolio</a></li>
                <li><a href="/portfoliodetails">Portfolio Details</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link text_hover_animaiton" href="/services"
                >Services <i class="far fa-angle-down"></i
              ></a>
              <ul class="droap_menu">
                <li><a href="/services">Services</a></li>
                <li><a href="/servicedetails">Service Details</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link text_hover_animaiton" href="/blog"
                >Blog <i class="far fa-angle-down"></i
              ></a>
              <ul class="droap_menu">
                <li><a href="/bloggrid">Blog Grid</a></li>
                <li><a href="/bloglist">Blog List</a></li>
                <li><a href="/blogdetails">Blog Details</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link text_hover_animaiton" href="/contact"
                >Contact</a
              >
            </li>
          </ul>
          <div class="right_menu">
            <a href="/contact" class="btn_hover">Let's Talk</a>
          </div>
        </div>
      </div>
    </nav>